<%= form_with model: @article, local: true do |form| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %>
        <div class="alert alert-info" role="alert">
          This is a info alert—check it out!
        </div>
       
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <div class="alert alert-danger" role="alert">
            <%= msg %>
          </div>
        <% end %>
      </ul>
    </div>
  <% end %>
<div >


</div>
  <div class="form-group">
    <label for="label">Title</label>
    <%= form.text_field :title,class: "form-control", placeholder: "Please enter title" %>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Text for article</label>
    <%= form.text_area :text,class: "form-control", placeholder: "Please enter text about article" %>
  </div>
  <p>
    <%= form.submit %>
  </p>

<% end %>