<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Blog" %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
  <![endif]-->
</head>
<body>


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <nav class="navbar navbar-light bg-light">
        <div class="col-lg-10">

          <%=link_to "Blog App", "/", :class => "btn btn-outline-secondary btn-md  border-white"%>
        </div>

        <% if user_signed_in? %>
            <div class="col-lg-2">
              <%= link_to 'New article', new_article_path, :class => "btn btn-outline-primary" %>
              <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
            </div>

        <% else %>
          <div class="col-lg-1">
            <%= link_to('Sign up', new_user_registration_path) %>
          </div>

            <div class="col-lg-1">
              <%= link_to('Login', new_user_session_path) %>
            </div>
        <% end %>
      </nav>
      <%= yield %>
  <!--
        <div class="container">
        <div class="row h-100 align-items-center">
          <div class="col-12 text-center">
            <% if user_signed_in? %>
              <div>Signed in as... <%= current_user.email %></div>
            <% end %>
          </div>
        </div>
      </div>

  -->
    </div>
  </div><!--/span-->
</div>



</div> <!-- /container -->
<footer class="botton ">
  <p>&copy; Company 2019</p>
</footer>
</body>
</html>
